@import "../node_modules/bootstrap/scss/bootstrap.scss";
section {
  margin-top: 28vh;
}
body {
  background: linear-gradient(to right, #30ff41, #e404d9);
}
.carousel-indicators {
  bottom: -30px;
}
.color-place {
  display: flex;
  color: rgba(179, 179, 179, 0.877);
  text-align: left;
}
.carousel-inner {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  bottom: -40px;
  line-break: auto;
  background-color: white;
  margin-bottom: 1rem;
  padding: 50px;
}
.centered {
  display: flex;
  text-align: left;
  max-width: 400px;
  margin-bottom: 0.5rem;
}
.carousel-control-prev {
  margin-top: 60px;
  border-radius: 30px;
  left: 9px;
}
.carousel-control-next {
  margin-top: 60px;
  border-radius: 30px;
  right: 9px;
}
#butt {
  background-color: rgb(73, 73, 73);
}

.containeris{
  max-width: 300px;
  margin: auto;
  padding: 10px;
}